<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="global-header">
    <ul class="header_titles">
      <li class="header_logo-container">
        <a href="#" class="header_logo_link">
          <img src="./images/Mythical Sports Logo.png" alt="Logo" class="header_logo-image">
        </a>
      </li>
      <li class="header_monday_container">
        <a href="#" class="header_link">
          <span class="header_monday">Monday</span>
        </a>
      </li>
      <li class="header_tuesday_container">
        <a href="#" class="header_link">
          <span class="header_tuesday">Tuesday</span>
        </a>
      </li>
      <li class="header_wednesday_container">
        <a href="#" class="header_link">
          <span class="header_wednesday">Wednesday</span>
        </a>
      </li>
      <li class="header_thursday_container">
        <a href="#" class="header_link">
          <span class="header_thursday">Thursday</span>
        </a>
      </li>
      <li class="header_friday_container">
        <a href="#" class="header_link">
          <span class="header_friday">Friday</span>
        </a>
      </li>
      <li class="header_saturday_container">
        <a href="#" class="header_link">
          <span class="header_saturday">Saturday</span>
        </a>
      </li>
      <li class="header_sunday_container">
        <a href="#" class="header_link">
          <span class="header_sunday">Sunday</span>
        </a>
      </li>
    </ul>

  </header>
</body>
</html>