<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="exercise_container">
      <div class="ex_container-hero">
        <div class="ex_container-1">
          <span class="ex_title-1">Machine Seated Cable Row</span>
        </div>
        <div class="ex_container-2">
          <img src="./images/ex1.1.jpg" alt="Machine Seated Cable Row" class="ex-1_image-1">
          <img src="./images/ex1.2.png" alt="Muscles under tension" class="ex-1_image-2">
        </div>
      </div>
      <div class="ex_container-3">
        <span class="ex_title-2">Description:</span>
        <ul style="list-style-type:disc;" class="ex_description">
          <li class="custom-bp-1">Squeeze your butt, tighten your core and keep your back straight</li>
          <ul style="list-style-type:circle;">
            <li class="custom-bp-2">if you fail to do this at any point, stop</li>
          </ul>
          <li class="custom-bp-1">Pull with your elbows</li>
          <ul style="list-style-type:circle;">
            <li class="custom-bp-2">your biceps and forearm will 100% want to contract, you need to use the back muscles not the arm muscles</li>
            <li class="custom-bp-2">in order to achieve that you should only grip enough so the handles don't slip, everything from your wrist to the
            shoulder should feel like a liquid, it's not muscle, it's water, now squeeze your shoulder blades together and pull</li>
          </ul>
          <li class="custom-bp-1">Pull towards the belly button</li>
        </ul>
      </div>
      
      
      
    </div>
  </main>
</body>
</html>